<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
    <% end %>

    <% content_for :title, @post.title %>
    
    <%= render @post %>

    <%= link_to "Back to posts", Post, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <% if user_signed_in? %>
      <%= link_to "Edit this post", [:edit, @post], class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this post", @post, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>

    <div class="flex justify-between items-center">
      <h2 class="font-bold text-4xl"><%= link_to "Comments", [@post, Comment] %></h2>
      <%= link_to "New comment", [@post, Comment.new], class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" if user_signed_in? %>
    </div>

    <div id="comments" class="min-w-full">
      <%= render @post.comments %>
    </div>
  </div>
</div>
